<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Dentist page</title>
</head>
<body>
    <div class="testbox">
        <form action="/addDentist" method="post">
            <h2>Dentist Info</h2>
            <div class="item">
                <p>Practice</p>
<!--                Todo: make dynamic-->
                <select>
                    <option value>Select one</option>
                    <option value="1">Charleston Endodontics</option>
                </select>
            </div>
        </form>
    </div>
</body>
</html>
