<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    TODO: make title dynamic-->
    <title>Referral Genie Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/main.css}"/>
</head>
<body>
    <div class="shadowbox">
        <h1>Referral Genie</h1>
        <h2>Dashboard</h2>
        <div class="btn-block">
            <a href="/referral" class="btn">Add Referral</a>
            <a href="/addDentist" class="btn">Add Dentist</a>
        </div>
    </div>
</body>
</html>
